[user]
	name = TusharSamaniya
	email = 141763398+TusharSamaniya@users.noreply.github.com
[core]
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
